body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image-container {
  position: relative;
  margin: 60px auto;
  width: 900px;
  height: 600px;
}
.image-container img {
  position: absolute;
  left: 50%;
  display: block;
  width: 900px;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.image-container img.active {
  opacity: 1;
}
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
}
.control .prev,
.control .next {
  width: 50px;
  height: 50px;
  background-color: rgb(71, 169, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.control .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffe5e5;
  padding: 12px;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.control .bullets span {
  width: 28px;
  height: 28px;
  background-color: #b6ffe7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.control .bullets span.active {
  background-color: #1fffb4;
}
.control .disable {
  background-color: rgb(170 215 255);
}
@media (max-width: 600px) {
  .image-container {
    width: 390px;
    height: 250px;
  }
  .image-container img {
    width: 370px;
    margin: 10px auto;
  }
  .control .bullets span {
    width: 20px;
    height: 20px;
  }
  .control .bullets {
    gap: 4px;
  }
}
